header{
    background-color: #cccccc;  
    padding: 20px 0px;
}
body{
    font-family: 'Montserrat', sans-serif;

}
.caja{
    width: 940px;
    position: relative;
    margin: 0px auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
    display: inline;
    margin: 0px 0px 0px 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  
}
nav a:hover{
    color: #c78c19;
    text-decoration:underline;
}
main{
    width: 940px;
    margin: 0px auto;
}
form{
    margin: 40px 0px;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    
}

.inputp{
    
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;

}
.cb{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.20);
}
table{
    margin: 40px 40px;
}
thead{
    background: #555555;
    color: aliceblue;
    font-weight: bold;
}
td,th{
    border:2px solid black; 
    padding: 8px 15px;
}
footer{

    text-align: center;
    background:url(../imagenes/bg.jpg);
    padding: 40px;
}
.copy{
    color: aliceblue;
    font-size: 16px;
}